
*.py linguist-detectable=true linguist-language=Python


*.ipynb linguist-detectable=true linguist-language=Python
*.pkl linguist-detectable=true linguist-language=Python
*.csv linguist-detectable=true linguist-language=Python


*.py linguist-language=Python
*.ipynb linguist-language=Python
*.pkl linguist-language=Python
*.csv linguist-language=Python


*.log linguist-generated
.env linguist-generated
