
*.py linguist-detectable=true linguist-language=Python


*.ipynb linguist-detectable=true linguist-language=Python
*.pkl linguist-detectable=true linguist-language=Python
*.csv linguist-detectable=true linguist-language=Python


templates/* linguist-vendored
static/* linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored


*.log linguist-generated
.env linguist-generated
