
static/* linguist-detectable=true linguist-language=HTML
templates/* linguist-detectable=true linguist-language=HTML
*.css linguist-detectable=true linguist-language=CSS
*.js linguist-detectable=true linguist-language=JavaScript


